<section id='<%= section_name %>' class="container mx-auto my-4">
  <h2 class="text-lg font-bold tracking-tight text-gray-900"><%= t(".#{section_name}") %></h2>
  <div class="overflow-hidden mt-4">
    <div class="-mx-px grid grid-cols-2 border-l border-gray-200 sm:mx-0 md:grid-cols-3 lg:grid-cols-4">
      <% products.each do |product| %>
      <div id="<%= product.id %>" class="rounded-sm p-4 border-b border-r border-gray-200 flex flex-col items-center justify-center">
        <%= image_tag(product.cover_image, class: "h-28 w-28 object-cover m-0 rounded-full", alt: product.name) %>
        <div class="flex flex-col items-center justify-center mt-4">
          <div class="text-center">
            <% product.categories.each do |category| %>
              <%= link_to(nil, class: "transitiona-all duration-150 ease-in-out hover:opacity-80") do %>
                <%= render "components/badge", label: category.name.capitalize, class_css: 'text-sm font-medium bg-amber-100 text-amber-400' %>
              <% end %>
            <% end %>
          </div>
          <h3 class="text-lg font-semibold text-gray-950 mt-2">
            <span aria-hidden="true" class="absolute inset-0"></span>
            <%= product.name %>
          </h3>
          <p class="text-base font-medium text-gray-500 overflow-y-auto h-20"><%= product.description %></p>
          <div class="mt-4 flex items-center justify-center">
            <div>
              <span class="text-sm font-medium text-gray-500"><%= I18n.t('number.currency.format.unit') %></span>
              <span class="text-lg font-semibold text-gray-950"><%= product.price %></span>
            </div>
            <div class="bg-gray-200 flex items-center p-2 rounded ml-2 mr-2">
              <%= link_to(cart_add_product_path(product), data: { turbo_method: :post }) do %>
                <%= heroicon "plus-small", options: { class: "w-4 text-primary" } %>
              <% end %>
              <span class="font-medium mx-2 text-gray-950"><%= "0" %></span>
              <%= heroicon "minus-small", options: { class: "w-4 text-primary" } %>
            </div>
            <span class="bg-primary rounded p-2">
              <%= heroicon "shopping-cart", options: { class: "w-6 text-white" } %>
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>