<div class="mt-10">
  <div class="mt-5 md:mt-0 md:col-span-2">
    <%= form_with model: [:admin, @product] do |f| %>
      <%= render('layouts/form_record_errors', record: @product) %>
      <div class="shadow overflow-hidden sm:rounded-md">
        <div class="px-4 py-5 bg-white sm:p-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <label class="block text-sm font-medium text-gray-700 required"><%= Product.human_attribute_name(:name) %></label>
              <%= f.text_field :name, required: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <div class="col-span-6">
              <label class="block text-sm font-medium text-gray-700 required"><%= Product.human_attribute_name(:description) %></label>
              <%= f.text_area :description, required: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700 required"><%= Product.human_attribute_name(:category_ids) %></label>
              <div data-controller="slim-select">
                <%= f.select(:category_ids, options_for_select(@categories, selected: @current_category_products), {include_blank: false}, multiple: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md", data: { slim_select_target: 'input' }) %>
              </div>
            </div>
            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700 required"><%= Product.human_attribute_name(:price) %></label>
              <%= f.number_field :price, min: 0, step: "0.01", required: true, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700 required mb-2"><%= Product.human_attribute_name(:is_active) %></label>
              <%= render "components/toggle_input", input_name: 'is_active', hide_label: true, resource: @product.is_active, model: Product, form: f %>
            </div>
            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700 required mb-2"><%= Product.human_attribute_name(:is_highlight) %></label>
              <%= render "components/toggle_input", input_name: 'is_highlight', hide_label: true, resource: @product.is_highlight, model: Product, form: f %>
            </div>
            <div class="col-span-3">
              <label class="block text-sm font-medium text-gray-700 required"><%= Product.human_attribute_name(:cover_image) %></label>
              <div class="grid grid-cols-3 text-center">
                <div class="col-span-2">
                  <% if @product.cover_image&.attached? %>
                    <%= image_tag(@product.cover_image, class: "mt-2 h-30") %>
                    <br>
                  <% end %>
                </div>
              </div>
              <%= f.file_field :cover_image, accept: "image/*", class: "mt-3 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-red-50 file:text-red-700 hover:file:bg-red-100" %>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-left sm:px-6">
          <%= f.submit(t('.save'), class: 'inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500', data: { disable_with: t('.waiting') }) %>
          <%= link_to(t('.back'), admin_products_path, class: 'ml-4 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500') %>
        </div>
      </div>
    <% end %>
  </div>
</div>
