  <div id="personal_data" class="rounded-md border bg-gray-50 shadow px-6 py-4">
    <div class="flex items-center">
      <%= heroicon "user", options: { class: "w-4 text-primary mr-4" } %>
      <h2 class="text-lg font-bold tracking-tight text-gray-900 grow"><%= t(".title") %></h2>
      <%= heroicon "chevron-down", options: { class: "w-4 text-primary cursor-pointer hidden down", data_action: "click->order#toggleCollapsible", data_section_id: "personal_data" } %>
      <%= heroicon "chevron-up", options: { class: "w-4 text-primary cursor-pointer up", data_action: "click->order#toggleCollapsible", data_section_id: "personal_data" } %>
    </div>
    <div class="collapsible transition-all linear delay-250 max-h-0 max-h-full overflow-hidden">
      <p class="text-gray-400 font-medium text-sm"><%= t('.sub_title') %></p>
      <hr class="my-4"/>
      <%= form_with model: [:site, :create, @order_info] do |f| %>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block text-sm medium text-gray-400 required"><%= OrderInfo.human_attribute_name(:first_name) %></label>
            <%= f.text_field :first_name, value: current_order&.order_info&.first_name, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <div>
            <label class="block text-sm medium text-gray-400 required"><%= OrderInfo.human_attribute_name(:last_name) %></label>
            <%= f.text_field :last_name, value: current_order&.order_info&.last_name, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>
        <div class="mt-2 col-span-2">
          <label class="block text-sm medium text-gray-400 required"><%= OrderInfo.human_attribute_name(:email) %></label>
          <%= f.text_field :email, value: current_order&.order_info&.email, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-2">
          <div>
            <label class="block text-sm medium text-gray-400 required"><%= OrderInfo.human_attribute_name(:cpf) %></label>
            <%= f.text_field :cpf, value: current_order&.order_info&.cpf, data: { controller: "mask", mask: '000.000.000-00' }, class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %> 
          </div>
          <div>
            <label class="block text-sm medium text-gray-400 required"><%= OrderInfo.human_attribute_name(:phone) %></label>
            <%= f.text_field :phone, value: current_order&.order_info&.phone, data: { controller: "mask", mask: '(00) 00000-0000' },class: "mt-1 focus:ring-primary-500 focus:border-primary-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>
        <hr class="my-4"/>
        <%= f.submit t('.send'), class: "cursor-pointer w-fit py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary transition-all hover:text-primary hover:border-primary hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500" %>
      <% end %>
    </div>
  </div>