<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Na Massa" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Delivery de comida" %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="min-h-screen">
    <%= render partial: "components/flash_messages" %>
    <%= render "layouts/site/navbar" %>
    <main data-controller="cart">
      <%= yield %>
    </main>
    <%= render "layouts/site/footer" %>
  </body>
</html>
