<!DOCTYPE html>
<html>
  <head>
    <title>Na Massa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen">
    <%= render partial: "components/flash_messages" %>
    <%= render "layouts/site/navbar" %>
    <main>
      <%= yield %>
    </main>
    <%= render "layouts/site/footer" %>
  </body>
</html>
